Day 1

In [29]:
import pandas as pd
import numpy as np
dat = pd.read_excel(r'Day1_data.xlsx', header = None)

In [30]:
table = np.array(dat)

In [36]:
table2 = table.T + table

In [55]:
print(np.where(table2 == 2020))
print(table2[0,41] + table2[74,0])

(array([40, 73], dtype=int64), array([73, 40], dtype=int64))
6929

In [73]:
A = np.array([i for i in range(0, 11)])
B = A

In [74]:
np.dot(A.T, B)

385